[submodule "helix-lang"]
	path = helix-lang
	url = https://github.com/kneorain/helix-lang.git
[submodule "helix-site"]
	path = helix-site
	url = https://github.com/kneorain/helix-site.git
[submodule "helix-highlighter"]
	path = helix-highlighter
	url = https://github.com/kneorain/helix-highlighter
